[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "ludvigak.github.io"]
	path = ludvigak.github.io
	url = git@github.com:ludvigak/ludvigak.github.io.git
	branch = master
